<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Bhargavi Alluri</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>KAPxeToodXyvpwOsSBXsyCTurAuQ2TA5ew/BZi5ro5z2Jk+Nd0yQnhMlCSQQ/kr2</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$vtWN4yLK5d1I2/4hKIu4UO382EOk/fNFHxz.uazMiD4UXzk1tQSl2</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1486364190667</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>